

html {
    background-color: #041E35;
    /* background-color: #0B3A5070; */
    /* 之後把透明度改去掉 */
}

body {
    line-height: 1.6rem;
}

#topbar {
    width: 100%;
    height: 120px;
    background-color: #07294080;
    position: absolute;
    top: 0;
}


/* --------------------------------------------------------- */
/* 隱私權頁專用 */
#section-pri {
    background-image: linear-gradient(#104C60, #041E35);
    /* background-image: url(../img/section1.png); */
    /* padding-bottom: 160px; */
    /* margin-bottom: 160px; */
    position: absolute;
    z-index: -1;
}

.section-pri {
    width: 100%;
    height: 2824px;
    background-size: cover;
}

.container-pri {
    width: 80%;
    /* height: 100%; */
    position: relative;
    top: 160px;
    left: 50%;
    color: #D0F2F8;
    transform: translateX(-50%);
    padding-bottom: 180px;
    /* margin-bottom: 180px; */
}

.container-pri h4 {
    font-size: large;
}

.container-pri h5 {
    font-size: x-large;
    font-weight: 800;
    margin-bottom: 12px;
}

.container-pri p {
    font-size: medium;
    margin-bottom: 56px;
    margin-top: 8px;
    line-height: 1.6rem;
}

#footer-pri {
    width: 100%;
    /* height: 160px; */
    height: auto;
    /* background-color: #0B3A50E6; */
    background-color: #166170E6;
    position: fixed;
    bottom: 0;
}

/* --------------------------------------------------------- */

/* 限制左右 */
.container {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logoimg {
    width: 252px;
    height: 49px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footer-text {
    color: #D0F2F8;
    width: 80%;
    padding: 12px;
    margin: auto;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.6rem;
}

.footer-text a {
    color: white;
}

/* RWD ---------------------- RWD -------------------------------------------------*/

@media (min-width: 0px) {

}

/* -------------------------------------------------------------------------- */
@media (min-width: 576px) {

}

/* -------------------------------------------------------------------------- */
@media (min-width: 768px) {

    .container-pri {
        /* margin-bottom: 160px;  */
        /* 調整在RWD下的空間 */
        padding-bottom: 180px;
    }
}

/* -------------------------------------------------------------------------- */
@media (min-width: 992px) {
    
}

/* -------------------------------------------------------------------------- */
@media (min-width: 1200px) {
    
}

/* -------------------------------------------------------------------------- */
@media (min-width: 1400px) {
    

}